

header{
  background-color: grey;

  .logo-container{
    width: 90%;
    margin: auto;
    cursor: pointer;
    img{
      display: block;
      max-width: 500px;
      width: 200px;
      height: 200px;

    }
  }
}




